@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}

body.exam-mode {
  overflow: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none;     /* IE & Edge */
  scrollbar-width: none;        /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
